<html>
  <head>
    <title>Zhao Jin, Portfolio</title>
    <link rel='stylesheet' href='/assets/bulma.css' />
    <link rel='stylesheet' href='/assets/homepage.css' />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css'
    />
  </head>
  <body>

    <section class='hero is-primary is-bold'>
      <div class='hero-body'>
        <div class='container'>
          <h1 class='title'>
            Zhao Jin, Portfolio
          </h1>
          <h2 class='subtitle'>
            Bio and Works
          </h2>
        </div>
      </div>
    </section>

    <!-- Bio -->
    <section class='section profile-section'>
      <div class='container'>
        <figure class='image is-inline-block mb-4'>
          <img
            class='profile-image'
            src='/assets/images/me-small.png'
            alt='Photo of me'
          />
        </figure>
        <p class='title is-4'>Zhao Jin 金钊</p>
        <p class='subtitle is-6'>
          <b>Looking for 2026 Fall new grad positions &ndash; Combat Designer / Technical Designer</b>
          <br />MEng, Game Design, Development & Innovation &ndash; Duke University (2024-2026)
          <br />
          BS, Game Design & Development &ndash; Rochester Institute of Technology (2021-2024)
        </p>
        <div class='content'>
          <p>
            As an
            <b>INFP</b>, I embody responsibility, diligence, and altruism. My passion lies in
            programming, particularly in the realms of game development and web applications.
            Additionally, I have diversified my skills to include video editing, 3D modeling, and
            more. Proficient in multiple programming languages including Java, JavaScript, C++, C#,
            and Lua.
            <br />
            For a detailed narrative of my professional journey, feel free to explore my
            <a href='https://www.linkedin.com/in/ritzj' target='_blank'>LinkedIn</a>
            profile and
            <a
              href='https://drive.google.com/file/d/1VNF-EtWS45ZuN_Ou-3PZsgmG2wpX-5Pb/view?usp=sharing'
              target='_blank'
            >resume</a>.
          </p>
          <!-- Social Media -->
          <p>
            <a href='https://www.linkedin.com/in/ritzj' target='_blank'>
              <i class='fa-brands fa-linkedin'></i>
              LinkedIn
            </a>
            <br />
            <a href='https://github.com/ShadowCK' target='_blank'>
              <i class='fa-brands fa-github'></i>
              GitHub
            </a>
            <br />
            <a
              href='https://drive.google.com/file/d/1VNF-EtWS45ZuN_Ou-3PZsgmG2wpX-5Pb/view?usp=sharing'
              target='_blank'
            >
              <i class='fa-solid fa-file-lines'></i>
              Resume
            </a>
          </p>
        </div>
      </div>
    </section>

    <!-- Works -->
    <section class='section'>
      <div class='container'>
        <div id='works' class='columns is-multiline'>
          <!-- Cards -->
        </div>
      </div>
    </section>

    <section>
      <div id='modal-root' class='container'></div>
    </section>

    <script src='/assets/homepageBundle.js'></script>
  </body>
</html>