<html lang='en'>
  <head>
    <title>Zhao Jin, Portfolio</title>
    <!-- Fomantic-UI (Semantic UI community fork) -->
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.css'
    />
    <link rel='stylesheet' href='/assets/homepage.css' />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css'
    />
  </head>
  <body>

    <!-- 顶部菜单（现代化 Header） -->
    <header class='ui container'>
      <div class='ui large secondary pointing menu site-menu'>
        <a class='header item' href='/'>Zhao Jin</a>
        <div class='right menu'>
          <a class='item' href='#works-section'>Works</a>
          <a
            class='item'
            href='https://www.linkedin.com/in/ritzj'
            target='_blank'
            rel='noopener noreferrer'
          >LinkedIn</a>
          <a
            class='item'
            href='https://github.com/ShadowCK'
            target='_blank'
            rel='noopener noreferrer'
          >GitHub</a>
          <a
            class='item'
            href='https://drive.google.com/file/d/1VNF-EtWS45ZuN_Ou-3PZsgmG2wpX-5Pb/view?usp=sharing'
            target='_blank'
            rel='noopener noreferrer'
          >Resume</a>
          <div class='item'>
            <div class='ui toggle checkbox'>
              <input type='checkbox' id='theme-toggle' tabindex='0' class='hidden' />
              <label for='theme-toggle'>Dark</label>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Landing：照片 + 个人介绍 + 链接（约一屏） -->
    <section class='ui inverted vertical segment masthead'>
      <div class='ui centered grid masthead-inner'>
        <div class='sixteen wide mobile twelve tablet ten computer column'>
          <img
            class='ui centered circular image profile-image'
            src='/assets/images/me-small.png'
            alt='Photo of me'
          />
          <h1 class='ui inverted centered header masthead-title'>Zhao Jin 金钊</h1>
          <div class='ui inverted centered header masthead-subtitle'>
            <b>Looking for 2026 Fall new grad positions &ndash; Combat Designer / Technical Designer</b>
            <br />MEng, Game Design, Development &amp; Innovation &ndash; Duke University
            (2024-2026)
            <br />
            BS, Game Design &amp; Development &ndash; Rochester Institute of Technology (2021-2024)
          </div>
          <div class='ui text container centered center aligned profile-bio'>
            <p>
              As an
              <b>INFP</b>, I embody responsibility, diligence, and altruism. My passion lies in
              programming, particularly in game development and web applications. I also do video
              editing and 3D modeling. Proficient in Java, JavaScript, C++, C#, and Lua.
            </p>
          </div>
          <div class='ui center aligned container'>
            <div class='ui big buttons' role='group' aria-label='Social Links'>
              <a
                class='ui blue button'
                href='https://www.linkedin.com/in/ritzj'
                target='_blank'
                rel='noopener noreferrer'
              >
                <i class='fa-brands fa-linkedin'></i>&nbsp; LinkedIn
              </a>
              <div class='or' data-text=''></div>
              <a
                class='ui black button'
                href='https://github.com/ShadowCK'
                target='_blank'
                rel='noopener noreferrer'
              >
                <i class='fa-brands fa-github'></i>&nbsp; GitHub
              </a>
              <div class='or' data-text=''></div>
              <a
                class='ui teal button'
                href='https://drive.google.com/file/d/1VNF-EtWS45ZuN_Ou-3PZsgmG2wpX-5Pb/view?usp=sharing'
                target='_blank'
                rel='noopener noreferrer'
              >
                <i class='fa-solid fa-file-lines'></i>&nbsp; Resume
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Works -->
    <section class='ui vertical segment' id='works-section'>
      <div class='ui container'>
        <div id='portfolio-root'></div>
      </div>
    </section>

    <section>
      <div id='modal-root'></div>
    </section>

    <script src='/assets/homepageBundle.js'></script>
  </body>
</html>