<html>
  <head>
    <title>个人作品集</title>
    <link rel='stylesheet' href='/assets/bulma.css' />
    <link rel='stylesheet' href='/assets/homepage.css' />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css'
    />
  </head>
  <body>

    <section class='hero is-primary is-bold'>
      <div class='hero-body'>
        <div class='container'>
          <h1 class='title'>
            我的个人作品集
          </h1>
          <h2 class='subtitle'>
            个人简介和作品一览
          </h2>
        </div>
      </div>
    </section>

    <!-- 个人简介区域 -->
    <section class='section profile-section'>
      <div class='container'>
        <figure class='image is-inline-block mb-4'>
          <img class='profile-image' src='https://placehold.co/600x450' alt='个人照片' />
        </figure>
        <p class='title is-4'>Zhao Jin</p>
        <p class='subtitle is-6'>4th Year, Game Design & Development @RIT</p>
        <div class='content'>
          <p>这里是您的个人简介，您可以在这里详细介绍自己的背景、经验、技能和兴趣等。</p>
          <!-- 社交媒体链接 -->
          <p>
            <a href='https://www.linkedin.com/in/ritzj' target='_blank'><i
                class='fa-brands fa-linkedin'
              ></i>
              LinkedIn</a>
            <br />
            <a href='https://github.com/ShadowCK' target='_blank'><i
                class='fa-brands fa-github'
              ></i>
              GitHub</a>
          </p>
        </div>
      </div>
    </section>

    <!-- 作品一览区域 -->
    <section class='section'>
      <div class='container'>
        <div class='columns is-multiline'>
          <!-- 作品卡片示例 -->
          <div class='column is-4'>
            <div class='card js-modal-trigger' data-target='test-modal'>
              <div class='card-image'>
                <figure class='image is-4by3'>
                  <img src='https://placehold.co/400x300' alt='作品图片' />
                </figure>
              </div>
              <div class='card-content'>
                <div class='media'>
                  <div class='media-content'>
                    <p class='title is-4'>作品名称</p>
                    <p class='subtitle is-6'>简短描述</p>
                  </div>
                </div>

                <div class='content'>
                  点击查看更多信息。
                </div>
              </div>
            </div>
          </div>
          <!-- 更多作品卡片... -->
        </div>
      </div>
    </section>

    <!-- 作品信息Modal -->
    <div class='modal' id='test-modal'>
      <div class='modal-background'></div>
      <div class='modal-card'>
        <header class='modal-card-head'>
          <p class='modal-card-title'>作品名称</p>
          <button class='delete' aria-label='close'></button>
        </header>
        <section class='modal-card-body'>
          <!-- 作品详细内容 -->
          作品详细信息，如创作过程、使用技术等。
        </section>
        <footer class='modal-card-foot'>
          <button class='button is-success'>关闭</button>
        </footer>
      </div>
    </div>

    <script src='/assets/homepageBundle.js'></script>
  </body>
</html>